body { 
    display: flex; 
    background: #0a0f24; 
    color: white;
    font-family: "Poppins", sans-serif;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #11182f;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    transition: 0.3s;
}

.logo {
    font-size: 28px;
    text-align: center;
    color: #4ecdfc;
    margin-bottom: 20px;
}

.menu a {
    display: block;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #d6d6d6;
    text-decoration: none;
}

.menu a:hover, .menu .active {
    background: #1c2747;
    color: white;
}

.toggle-btn {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px 14px;
    background: #4ecdfc;
    border: none;
    font-size: 22px;
    border-radius: 6px;
}

/* MAIN */
.main {
    margin-left: 260px;
    padding: 40px 30px;
    width: 100%;
}

.title {
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    margin-bottom: 20px;
    color: #b8c0d4;
}

/* GRID */
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.year-card {
    background: #1c2747;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #29345a;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.year-card:hover {
    background: #24315c;
    transform: translateY(-3px);
}

/* RESPONSIVE */
@media(max-width: 900px) {
    .sidebar { left: -260px; }
    .toggle-btn { display: block; }
    .main { margin-left: 0; padding-top: 80px; }
}
